<img src="https://s3-media2.fl.yelpcdn.com/assets/srv0/styleguide/9e6286e52e33/assets/img/brand_guidelines/dont_switch.png" alt="">

<div class = "d-flex p-2 bd-highlight">
  <% @restaurants.each do |r|  %>
    <div class = "card">
      <h2><%= link_to r.name, restaurant_path(r) %></h2>
      <p>Address: <%= r[:address] %></p>
      <p>Telephone: <%= r[:phone_number] %></p>
      <%= link_to "delete", restaurant_path(r), method: :delete, data: {confirm: "Are you sure?"}%>
    <% end %>
    <div>
      <%= link_to "Add a Restaurant", new_restaurant_path%>
    </div>
  </div>
</div>
